.list-header {
  background-color: #ff3300;
  color: #fff;
  border-radius: 0.25rem;
  padding: 14px 0;
  text-align: center;
}

#list-parent-iterator {
  padding-top: 10px;
}

#list-sub-parent-iterator {
  border-bottom: 1px solid rgba(128, 128, 128, .5);
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-template-rows: 1fr;

  .position, .name, .weight, .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

::ng-deep .drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 50px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
